*{
  font-family: 'Times New Roman', Times, serif;
}
.navbar{
    background-color: rgb(252, 244, 244);
    position: relative;
}
.navbar-collapse{
  align-items: left;
  justify-content:space-between;
  padding-left: 10px;
}
.container-fluid {
  width: 98%;
}
.logo{
  width:8rem;
  height: 8rem;
}
.logo:hover{
  width: 10rem;
  height: 10rem;
}
.nav-link{
  font-size: x-large;
  color: rgb(41, 38, 38);
}
.nav-link:hover{
  color: black;
  font-weight: bold;
  font-size: xx-large;
}
.textoUno{
  font-size: larger;
}
main{
  margin-top: 15px;
}
main.centrar{
    justify-content: center;
}
.imagen{
  background-color: rgb(243, 231, 231);
  position:relative;
  width: 52%;
  height: 60%;
  margin-top: 8px;
  margin-left: 23.5%;
}
.columnaIzq {
  float: left;
  width: 65%;
  padding-left: 30px;
}
.columnaDer {
  float: left;
  width: 35%;
  padding-left: 20px;
  padding-right: 30px;
}
.card {
  background-color: rgb(247, 237, 237);
  padding: 20px;
  margin-top: 20px;
}
section{
  margin-top: 25px;
  padding-left: 30px;
  padding-right: 30px;
}
h5.texto{
  text-align: justify;
  margin: auto;
  padding: 10px;
  font-size:1.8em;
  margin-right: 90px;
}

.contenedor{
    margin-top: 35px;
}
.carousel-inner img{
  height: 655px;
}
h1, h2, h4{
  text-align: center;
}
.contenedorCont{
    justify-content: center;
    align-items: center;
    background-color: bisque;
    position: relative;
    padding: 15px;
}
.carrusel{
  width: 75%;
  height: 55%;
  justify-self: center;
}
.carousel-item{
  position: relative;
  width: 100%;
}
.w-100 {
  width: 100%;
}
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
  justify-items: center;
}
div.gifCargando{
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: -25px;
}
iframe{
  position: relative;
}
iframe.enlace{
  padding-left: 55px;
}
.platica, .articulo{
  justify-items: right;
  position: relative;
  padding-left: 55px;
}

div > iframe.embeded-responsive{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.container {
  color: white;
  border-radius: 5px;
  background-color: rgb(189, 12, 12);
  padding: 20px;
}

label{
  font-size: large;
}
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid rgb(240, 237, 237); 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px;
  resize: vertical;
}

button{
  color: rgb(83, 0, 0);
  background-color: azure;
  font-size:x-large;
  border-radius: 5px;
  vertical-align: middle;
  width: 105px;
  height: 65px;
  text-align: center;
  justify-content: center;
  border-color: white;
}
.info {
  background-color: #fddae0;
  border-left: 6px solid #ee5f72;
  margin-bottom: 125px;
  margin-top: 55px;
}
footer{
    background-color: rgb(252, 244, 244);
    margin-top: 25px;
    margin-bottom: -45px;
    padding: 15px;
    text-align: center;
    justify-content: center;
}
img.icono{
    width: 2rem;
    height: 2rem;
}
ul.lista {
    list-style-type: none; 
    justify-content: center;
  }
ul.lista li {
    display: inline;
    list-style-type: none;
    padding: 15px;
}

/* Para editar los breakpoints */
@media screen and (max-width: 991px) {
    .columnaIzq, .columnaDer {
    width: 100%;
    padding: 0;
  }
    section>div>h1{
      font-size: 1.7em;
    }
    div> h2{
      font-size: 1.4em;
    }
    .carrusel{
      width: 33%;
      height: 15%;
    }
    .carousel-item{
      max-width: 35rem;
      max-height: 15rem;
    } /* falta corregir el tamaño responsivo */
    .carousel-inner{
      max-height: 18rem;
    }
    .container-fluid-mvs {
      font-size: 1em;
      width: 80%;
    }
    .gifCargando{
      justify-items: center;
      position: relative;
      width: 100%;
      height: 100%;
    }
  }

  